body {
  background-color:rgb(200,200,200);
  font-family: "trebuchet ms", "helvetica", sans-serif;
  white-space: normal;
}

h1 {
  color: rgb(139,0,0);
  font-family: "tahoma", "verdana", "segoe", sans-serif;
  font-size: 60px;
  margin: 10px;
}

h2 {
  color:rgb(139,0,0);
  font-family: "tahoma", "verdana", "segoe", sans-serif;
  font-size: 40px;
  margin: auto;
}

h3 {
  color:rgb(0,0,100);
  font-family: "tahoma", "verdana", "segoe", sans-serif;
  font-size: 27px;
}

figcaption {
  text-align: center;
}

ul {
  font-size: 18px;
}

a:link {
  color:rgb(139,0,0);
}

a:visited {
  color: rgb(0,0,100);
}

a:hover {
  color: rgb(57,255,20);
}

a:active {
  color: rgb(255,165,0);
}

.intro {
  width: 960px;
  border: 0px;
  padding: 0px;
  margin-left: 10px;
  margin-right: auto;
}

#people-and-society {
  width: 960px;
  border: 0px;
  padding: 0px;
  margin-left: 10px;
  margin-right: auto;
  margin-top: 30px;
  grid-area: main;
}

.flag {
  width: 453px;
  height: 302px;
  border: 10px solid rgb(0,0,0);
  padding: 0;
  border-radius: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-top:10px;
  margin-bottom:10px;
  flex: 30%;
}

.temple {
  width: 600px;
  height: 399px;
  border: 10px solid rgb(0,0,0);
  padding: 0;
  border-radius: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-top:10px;
  margin-bottom:10px;
  flex: 30%;

}

#government {
  width: 480px;
  border: 3px solid rgb(0,0,0);
  border-radius: 5px 0px 0px 5px;
  border-width: 3px 3px 3px 3px;
  padding: 7px;
  margin-left: 10px;
  margin-right: 0;
  margin-top: 10px;
  grid-area: main;
  flex: 30%
}

#geography {
  width: 480px;
  border: 3px solid rgb(0,0,0);
  border-radius: 0px 5px 5px 0px;
  border-width: 3px 3px 3px 3px;
  padding: 7px;
  margin-left: 0px;
  margin-right: 0;
  margin-top: 10px;
  grid-area: right;
  flex: 30%;
}

.table {
  width: 400px;
  border: 5px solid rgb(0,0,0);
  border-radius: 7px;
  padding: 0;
  font-size: 23px;
}

.pop {
  font-size: 25px;
}

.govtpye {
  font-size: 20px;
}


.law {
  font-size: 20px;
}

.coast {
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 5px 5px;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu main main main right right'
    'footer footer footer footer footer footer';
}

.header {
  grid-area: header;
}

.nav {
  grid-area: menu;
}

.foot {
  grid-area: footer;
}

.piccontainer {
  display: flex;
}

.gov-geo {
  display: flex;
}

.poplang {
  display: flex;
}

#pop1 {
  flex: 30%;
  margin-bottom: 0;
}

#lang {
  flex: 30%;
  margin-bottom: 0;
}

#demoprof {
  width: 960px;
}
